{% extends "base.html" %}

{% block main %}

<main>

  <div class="reading">

  <h2>Welcome to 'Expose' section!</h2><br>

  In this section I'm going to show you how I make scraped data available for developers or business users using API endpoints or visualisations.

  This is still work in progress, so for now I have included some of my Machine Learning projects, which include visualisations parts.
  
  <br><br>

  <h3>Data scraped from internet and loaded to SQL database</h3>

  <a href='/expose/expose_best_movies/'>Movies</a><br>
  <a href='/expose/expose_books/'>Books</a><br>
  <a href='/expose/expose_writers/'>Writers</a><br>
  <a href='/expose/expose_special_offers/'>Special offers</a><br>
  <a href='/expose/expose_fancy_glasses/'>Fancy glasses</a><br>
  <a href='/expose/expose_countries/'>Countries</a><br>
  <a href='/expose/expose_debt_to_gdp/'>Debt-to-GDP</a><br><br>

  <h3>Machine Learning and Data Science Projects from "Python for Data Science and Machine Learning Bootcamp"</h3><br>

  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/05-Linear-Regression/05-Linear%20Regression%20Project.ipynb" target="_blank" rel="noopener">Linear Regression Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/06-Logistic-Regression/06-Logistic%20Regression%20Project.ipynb" target="_blank" rel="noopener">Logistic Regression Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/07-K-Nearest-Neighbors/07-K%20Nearest%20Neighbors%20Project.ipynb" target="_blank" rel="noopener">K-Nearest Neighbors Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/08-Decision-Trees-and-Random-Forests/08-Decision%20Trees%20and%20Random%20Forest%20Project.ipynb" target="_blank" rel="noopener">Decision Trees and Random Forests Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/09-Support-Vector-Machines/09-Support%20Vector%20Machines%20Project.ipynb" target="_blank" rel="noopener">Support Vector Machines Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/10-K-Means-Clustering/10%20K%20Means%20Clustering%20Project.ipynb" target="_blank" rel="noopener">K-Means Clustering Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/11-Recommender-Systems/11%20Recommender%20Systems%20with%20Python.ipynb" target="_blank" rel="noopener">Recommender Systems Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/12-Natural-Language-Processing/12-NLP%20Project.ipynb" target="_blank" rel="noopener">Natural Language Processing Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/04-Data-Capstone-Projects/04%20911%20Calls%20Data%20Capstone%20Project.ipynb" target="_blank" rel="noopener">911 Calls Data Capstone Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/04-Data-Capstone-Projects/04%20Finance%20Project.ipynb" target="_blank" rel="noopener">Finance Project</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/01-Data-Visualization-with-Matplotlib/01-Matplotlib%20Exercises.ipynb" target="_blank" rel="noopener">Matplotlib Vizualizations</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/02-Data-Visualization-with-Seaborn/02-Seaborn%20Exercises.ipynb" target="_blank" rel="noopener">Seaborn Visualizations</a><br>
  <a href="https://github.com/bartosz-bear/notebooks/blob/main/data%20science%20and%20ml/03-Geographical-Plotting/03-Choropleth%20Maps%20Exercise.ipynb" target="_blank" rel="noopener">Geographical Plotting</a><br>

</div>

</main>

{% endblock %}

{% block style %}

<style>
  body {
    background: white;
  }
  .box {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
  }
  img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .table {
    table-layout:fixed;
  }

  .table th {
    color: white;
  }

  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  div.reading {
    width: 800px;
    margin: 0 auto;
  }
</style>

{% endblock %}