{% extends "base.html" %}

{% block main %}

<main>

  <div class="reading">

  <h3 class="code-line" data-line-start=5 data-line-end=6 ><a></a>Welcome to my profile, traveler! 👋</h3><br>
  <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.herokuapp.com?color=%23008F11&amp;size=18&amp;repeat=false&amp;duration=4000&amp;width=1500&amp;lines=I+am+Bartosz+Piechnik,+Python+and+SQL+Data+Developer.;" alt="Typing SVG"></a></p>
  <h3 class="code-line" data-line-start=5 data-line-end=6 ><a id="_Profile_5"></a>💎 Profile</h3><br>
  <p class="has-line-data" data-line-start="7" data-line-end="8">Over the years I’ve developed several data-centric applications for extracting, transforming, loading and visualising financial information. I’m a generalist with a broad range of technologies under my belt with a strong core in Python, SQL and data. I’ve worked in many different countries (Poland, Switzerland, China, US, UK) and I have excellent communication and presentation skills.</p>
  <p class="has-line-data" data-line-start="9" data-line-end="10">My philosophy and mindset revolves around the following concepts:</p>
  <ul>
  <li class="has-line-data" data-line-start="11" data-line-end="12">prioritizing pragmatic ‘get it done’ attitude over technological dogmatism</li>
  <li class="has-line-data" data-line-start="12" data-line-end="13">standing on the giants’ shoulders instead of reinventing the wheel to satisfy your ego</li>
  <li class="has-line-data" data-line-start="13" data-line-end="15">tackling hard and undesired tasks will make you a better programmer</li><br>
  </ul>
  <h3 class="code-line" data-line-start=15 data-line-end=16 ><a id="_Core_Technology_15"></a>⚡ Core Technology</h3>
  <p class="has-line-data" data-line-start="17" data-line-end="18"></p>
  <table class="table table-striped table-bordered">
  <thead>
  <tr>
  <th style="text-align:left">Proficiency</th>
  <th style="text-align:left">Technology</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td style="text-align:left">⭐⭐⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&amp;logo=python&amp;logoColor=ffdd54" alt="Python"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&amp;logo=pandas&amp;logoColor=white" alt="Pandas"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/sql-%2323ffffff.svg?style=for-the-badge&amp;logo=badge&amp;logoColor=white" alt="SQL"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" alt="Postgres"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/seaborn-%23239120.svg?style=for-the-badge&amp;logo=Matplotlib&amp;logoColor=black" alt="seaborn"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&amp;logo=javascript&amp;logoColor=%23F7DF1E" alt="JavaScript"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/devops-%23007ACC.svg?style=for-the-badge&amp;logo=git&amp;logoColor=white" alt="DevOps"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&amp;logo=git&amp;logoColor=white" alt="Git"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/pytest-%2323ffffff.svg?style=for-the-badge&amp;logo=badge&amp;logoColor=white" alt="pytest"></td>
  </tr>
  <tr>
  <td style="text-align:left">⭐⭐</td>
  <td style="text-align:left"><img src="https://img.shields.io/badge/ds&amp;a-%23092E20.svg?style=for-the-badge&amp;logo=badge&amp;logoColor=white" alt="DS&amp;amp;A"></td>
  </tr>
  </tbody>
  </table>
  <p class="has-line-data" data-line-start="32" data-line-end="33"></p><br>
  <h3 class="code-line" data-line-start=34 data-line-end=35 ><a id="_Supplementary_Technology_34"></a>🚀 Supplementary Technology</h3>
  <p class="has-line-data" data-line-start="36" data-line-end="37"></p>
  <table class="table table-striped table-bordered">
  <thead>
  <tr>
  <th>Proficiency</th>
  <th>Technology</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>⭐⭐⭐⭐</td>
  <td><img src="https://img.shields.io/badge/Microsoft_Excel-217346?style=for-the-badge&amp;logo=microsoft-excel&amp;logoColor=white" alt="Microsoft Excel"></td>
  </tr>
  <tr>
  <td>⭐⭐⭐</td>
  <td><img src="https://img.shields.io/badge/bloomberg_terminal-%23E34F26.svg?style=for-the-badge&amp;logo=badge&amp;logoColor=white" alt="Bloomberg Terminal"></td>
  </tr>
  <tr>
  <td>⭐⭐</td>
  <td><img src="https://img.shields.io/badge/scikit--learn-%23F7931E.svg?style=for-the-badge&amp;logo=scikit-learn&amp;logoColor=white" alt="scikit-learn"></td>
  </tr>
  <tr>
  <td>⭐⭐</td>
  <td><img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" alt="HTML5"></td>
  </tr>
  <tr>
  <td>⭐⭐</td>
  <td><img src="https://img.shields.io/badge/c%23-%23239120.svg?style=for-the-badge&amp;logo=c-sharp&amp;logoColor=white" alt="C#"></td>
  </tr>
  <tr>
  <td>⭐⭐</td>
  <td><img src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&amp;logo=django&amp;logoColor=white" alt="Django"></td>
  </tr>
  <tr>
  <td>⭐</td>
  <td><img src="https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&amp;logo=typescript&amp;logoColor=white" alt="TypeScript"></td>
  </tr>
  </tbody>
  </table>
  <p class="has-line-data" data-line-start="48" data-line-end="49"></p><br>
  <h3 class="code-line" data-line-start=50 data-line-end=51 ><a id="_Development_Stack_50"></a>⚙ Development Stack</h3>
  <p class="has-line-data" data-line-start="52" data-line-end="53"></p>
  <table class="table table-striped table-bordered">
  <thead>
  <tr>
  <th>Category</th>
  <th>Tool</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>IDE</td>
  <td><img src="https://img.shields.io/badge/Visual%20Studio%20Code-0078d7.svg?style=for-the-badge&amp;logo=visual-studio-code&amp;logoColor=white" alt="VS Code"></td>
  </tr>
  <tr>
  <td>Shell</td>
  <td><img src="https://img.shields.io/badge/PowerShell-%235391FE.svg?style=for-the-badge&amp;logo=powershell&amp;logoColor=white" alt="PowerShell"> <img src="https://img.shields.io/badge/bash-%23121011.svg?style=for-the-badge&amp;logo=gnu-bash&amp;logoColor=white" alt="bash"></td>
  </tr>
  <tr>
  <td>Version Control</td>
  <td><img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&amp;logo=git&amp;logoColor=white" alt="Git"> <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt="GitHub"></td>
  </tr>
  <tr>
  <td>Virtual Environments</td>
  <td><img src="https://img.shields.io/badge/Anaconda-%2344A833.svg?style=for-the-badge&amp;logo=anaconda&amp;logoColor=white" alt="Anaconda"></td>
  </tr>
  <tr>
  <td>CI/CD</td>
  <td><img src="https://img.shields.io/badge/github%20actions-%232671E5.svg?style=for-the-badge&amp;logo=githubactions&amp;logoColor=white" alt="GitHub Actions"></td>
  </tr>
  <tr>
  <td>Documentation</td>
  <td><img src="https://img.shields.io/badge/markdown-%23000000.svg?style=for-the-badge&amp;logo=markdown&amp;logoColor=white" alt="Markdown"></td>
  </tr>
  <tr>
  <td>OS</td>
  <td><img src="https://img.shields.io/badge/Windows-0078D6?style=for-the-badge&amp;logo=windows&amp;logoColor=white" alt="Windows"> <img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&amp;logo=linux&amp;logoColor=black" alt="Linux"></td>
  </tr>
  </tbody>
  </table>
  <p class="has-line-data" data-line-start="64" data-line-end="65"></p><br>
  <h3 class="code-line" data-line-start=66 data-line-end=67 ><a id="_Projects_66"></a>📤 Projects</h3>
  <ul>
  <li class="has-line-data" data-line-start="68" data-line-end="69">Prototype of Excel Add-In which allows users on two separate machines to share, transform and automate data sharing directly within Excel suite (<code>python</code>, <code>c#</code>)</li>
  <li class="has-line-data" data-line-start="69" data-line-end="70">Multiple ETL and automation scripts for financial reporting (<code>python</code>, <code>sql</code>, <code>pandas</code>)</li>
  <li class="has-line-data" data-line-start="70" data-line-end="71">Django-based application for visualisation of financial reports (<code>python</code>, <code>django</code>, <code>javascript</code>, <code>d3.js</code>)</li>
  <li class="has-line-data" data-line-start="71" data-line-end="72">Migration of <code>VBA</code> financial reporting scripts to <code>python</code></li>
  <li class="has-line-data" data-line-start="72" data-line-end="74">Django-based application for scraping, storing and visualisation of multi-source data (<code>python</code>, <code>django</code>, <code>postgreSQL</code>, <code>BeautifulSoup</code>)</li>
  </ul><br>
  <h3 class="code-line" data-line-start=74 data-line-end=75 ><a id="_Courses_and_Workshops_74"></a>🏫 Courses and Workshops</h3>
  <p class="has-line-data" data-line-start="76" data-line-end="77"></p>
  <table class="table table-striped table-bordered">
  <thead>
  <tr>
  <th>Course</th>
  <th>Course Provider</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>Python for Data Science and Machine Learning Bootcamp</td>
  <td><img src="https://img.shields.io/badge/Udemy-A435F0?style=Plastic&amp;logo=Udemy&amp;logoColor=white" alt="Udemy"></td>
  </tr>
  <tr>
  <td>SQL and PostgreSQL: Complete Developer’s Guide</td>
  <td><img src="https://img.shields.io/badge/Udemy-A435F0?style=Plastic&amp;logo=Udemy&amp;logoColor=white" alt="Udemy"></td>
  </tr>
  <tr>
  <td>Principles of Computing (Part 1)</td>
  <td><img src="https://img.shields.io/badge/Coursera-%230056D2.svg?style=Plastic&amp;logo=Coursera&amp;logoColor=white" alt="Coursera"></td>
  </tr>
  <tr>
  <td>An Introduction to Interactive Programming in Python</td>
  <td><img src="https://img.shields.io/badge/Coursera-%230056D2.svg?style=Plastic&amp;logo=Coursera&amp;logoColor=white" alt="Coursera"></td>
  </tr>
  <tr>
  <td>JavaScript Algorithms &amp; Data Structures</td>
  <td><img src="https://img.shields.io/badge/Freecodecamp-%23123.svg?&amp;style=Plastic&amp;logo=freecodecamp&amp;logoColor=green" alt="FreeCodeCamp"></td>
  </tr>
  <tr>
  <td>Programming with C#</td>
  <td><img src="https://img.shields.io/badge/edX-%2302262B.svg?style=Plastic&amp;logo=edX&amp;logoColor=white" alt="edX"></td>
  </tr>
  <tr>
  <td>Introduction to SQL</td>
  <td><img src="https://img.shields.io/badge/Datacamp-05192D?style=Plastic&amp;logo=datacamp&amp;logoColor=03E860" alt="Datacamp"></td>
  </tr>
  <tr>
  <td>Introduction to Linux</td>
  <td><img src="https://img.shields.io/badge/Coursera-%230056D2.svg?style=Plastic&amp;logo=Coursera&amp;logoColor=white" alt="Coursera"></td>
  </tr>
  </tbody>
  </table>
  <p class="has-line-data" data-line-start="89" data-line-end="90"></p>
  <h3 class="code-line" data-line-start=91 data-line-end=92 ><a id="_Contact_91"></a>📧 Contact</h3>
  <p class="has-line-data" data-line-start="93" data-line-end="94">I’m for hire. Contact me at <a href="mailto:bartosz.artur.piechnik@gmail.com">bartosz.artur.piechnik@gmail.com</a> or
    <a href="http://www.github.com/bartosz-bear" target="_blank">github.com/bartosz-bear</a></p>

  </div>

</main>

{% endblock %}

{% block style %}

<style>
  div.reading {
    width: 800px;
    margin: 0 auto;
  }
</style>

{% endblock %}