{% extends "base.html" %}   // Inherits all the components from base template, including the header and footer

{% block main %}

<main>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">How can I help you?</h1>
      <p class="col-md-8 fs-4">Are you looking to hire a Data Developer? Someone with skills in Python, SQL and with professional experience. I believe you are in a good place.</p>
    
      <p class="col-md-8 fs-4">I hope this website will make it easier for you to decide if I'm the person you are looking for.</p>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Here is what I can do</h1>
      <p class="col-md-8 fs-4">My biggest strengths when it comes to Data Engineering are:</p>
      
      <p class="col-md-8 fs-4">- intermediate-advanced Python programming skills</p>
      <p class="col-md-8 fs-4">- several years of experience working with data in a financial role</p>
      <p class="col-md-8 fs-4">- broad familiarity with many diferent areas related to data engineering</p>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Extracting Data</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">SQL<br></br></h3>
        <p>Writing efficient SQL queries to get data from PostgreSQL</p>
        <p><b>Technology:</b> SQL, PostgreSQL, SQLAlchemy, Django ORM</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">Web Scraping</h3>
        <p>Scraping data from static and dynamic pages</p>
        <p><b>Technology:</b> urllib, requests, BeautifulSoup, Selenium</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h3 class="fs-2">Consuming REST APIs</h3>
        <p>Experience with Bloomberg, Reuters and TradingView APIs.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h3 class="fs-2">Direct Excel connectivity</h3>
        <p>I have created a prototype of Excel Add-In which allows sharing and tranforming tabular data between two Excel users via Internet.</p>
        <p><b>Technology:</b> Python, C#, Google App Engine</p>
        
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>



  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Transforming Data</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">numpy, pandas</h3>
        <p>I use pandas whenever I can as this is the most intuitive and the fastest tabular data processing library out there.</p>
        <p><b>Technology:</b> numpy, pandas</p>
        
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">Machine Learning</h3>
        <p>I have used Machine Learning for modelling Credit Risk.</p>
        <p><b>Technology:</b> Python, scikit-learn, jupiter-notebooks</p>
        
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my jupiter notebooks
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      
    </div>
  </div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Loading Data</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
          </div>
        
        <div>
          <h3 class="fs-2">SQL<br></br></h3>
          <p>After I get data from any source I save it to a PostgreSQL database.</p>
          <p><b>Technology:</b> SQL, PostgreSQL, SQLAlchemy, Django ORM</p>
        
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
        </div>
      </div>
        
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Analyzing and Visualizing Data</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">Visualize on the Web</h3>
        <p>I use Python and JavaScript libraries to visualize data.</p>
        <p><b>Technology:</b> matplotlib, seaborn, d3.js</p>
        
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Other</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">My stack and side skills</h3>
        <p><b>Source control:</b> git, GitHub</p>
        <p><b>IDE:</b> VS Code</p>
        <p><b>CI/DI:</b> GitHub Actions</p>
        <p><b>Console:</b> PowerShell</p>
        <p><b>Virtual Environment:</b> Anaconda</p>
        <p><b>Web Framework:</b> Django</p>
        <p><b>Web Hosting:</b> PythonAnywhere</p>
        <p><b>Documentation:</b> Markdown, GitHub</p>
        <p><b>Testing:</b> PyTest, Node</p>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">Other languages</h3>
        <p><b>JavaScript:</b> basic-intermediate</p>
        <p><b>TypeScript:</b> basic</p>
        <p><b>C#:</b> basic</p>
        <p><b>HTML:</b> intermediate</p>
        <p><b>CSS:</b> basic</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">Courses</h3>
        <p><b>Python for Data Science and Machine Learning Bootcamp:</b> Udemy</p>
        <p><b>Principles of Computing (Part 1) – Python Intermediate:</b> Coursera</p>
        <p><b>An Introduction to Interactive Programming in Python:</b> Coursera</p>
        <p><b>Introduction to Linux:</b> edx</p>
        <p><b>Programming with C#:</b> edx</p>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See demo
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <a href="#" class="icon-link d-inline-flex align-items-center">
          See my code
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      
    </div>
  </div>

</main>

{% endblock %}