{% extends "base.html" %}

{% block main %}

<main>

  <div>
    
    <div class="reading">

    <h2>Welcome to 'Transform' section!</h2><br>

    In the 'Transform' section I'm going to work with data collected in CSV format.<br><br>

    There are three tables containing financial and economic data. Clients, transfers and counties.<br><br>

    <h4>Clients table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/clients_table.png' %}" alt="Clients table">
  
    </div>

    <h4>Transfers table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/transfers_table.png' %}" alt="Transfers table">
  
    </div>   

    <h4>Counties table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/counties_table.png' %}" alt="Counties table">
  
    </div><br>

    <h4>Issues with data</h4><br>

    There are two major parts of the transform stage of ETL process:
    - data clean up
    - data formating
    
    There are few issues with the data I'm working with:

    <br><br>

    <h4>'Not a number' values in the 'loan' column of 'clients' table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/loan_nans_issue.png' %}" alt="Counties table">
  
    </div><br>

    <h4>Duplicate values in the 'transfer_id' column of 'transfers' table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/transfer_id_duplicates_issue.png' %}" alt="Counties table">
  
    </div><br>

    <h4>'Not a number' values in the 'operation' column of 'transfers' table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/operation_nans_issue.png' %}" alt="Counties table">
  
    </div><br>

    <h4>Zero values in the 'amount' column of 'transfers' table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/amount_zero_value_issue.png' %}" alt="Counties table">
  
    </div><br>

    <h4>Question mark value in the 'unemp_95' column of 'counties' table</h4><br>

    <div class="box">

      {% load static %}
      <img src="{% static 'bapi_django_app/unemp_question_mark_issue.png' %}" alt="Counties table">
  
    </div><br><br>

    <h4>Transform script</h4><br>

    In the backend, ETL script loads data from CSV files into pandas dataframe, identifies the issues, cleans up the data
    and stores the cleaned data in PostgreSQL database. In the latter stage, the clean data is available via an API.

    Press the button to activate the script. 

    <br><br>

    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Transform data">
    </form>

    <br><br>

    <table class="table">
      <thead class="thead-dark">
      <tr class="bg-primary">
        <th style="width: 85%;">Check</th>
        <th style="width: 15%;">Results</th>
      </tr>
    </thead>
  
    {% for element in checks %}
    <tr>
      <td>{{ element.check }}</td>
      <td>{{ element.results }}</td>
    </tr>
    {% endfor %}
  
    </table> 
  
  

    <br><br>

    <h4>Script code</h4><br>

    <a href="https://github.com/bartosz-bear/etl/blob/main/financial_data_preparation.ipynb" target="_blank" rel="noopener">ETL Financial Data Jupiter Notebook</a><br>
  



    </div>
  </div>

</main>

{% endblock %}

{% block style %}

<style>
  body {
    background: white;
  }
  .box {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
  }
  img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .table {
    table-layout:fixed;
  }

  .table th {
    color: white;
  }

  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  div.reading {
    width: 800px;
    margin: 0 auto;
  }
</style>

{% endblock %}

